<!DOCTYPE html>
<html>
	<head>
		<title>Hevyka</title>
	</head>
	<body>
		<h1>All users: </h1>
		<ul>
			{{#each usersku}}
				<li>id: {{id}}</li>
				<li>nama : {{nama}}</li>
			{{/each}}
		</ul>
	</body>
</html>